<a href="https://colab.research.google.com/github/Elwing-Chou/ml0930/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ml0930/raw/master/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ml0930/raw/master/titanic/test.csv"
urlretrieve(url, "test.csv")

In [ ]:
import pandas as pd
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [ ]:
datas = pd.concat([train_df, test_df], axis=0, ignore_index=True)

In [ ]:
datas = datas.drop(["PassengerId", "Survived"], axis=1)

In [ ]:
na = datas.isna().sum()
# 篩選 Series[True/False list/series]
na[na > 0].sort_values(ascending=False)

In [ ]:
most = datas["Embarked"].value_counts().idxmax()
datas["Embarked"] = datas["Embarked"].fillna(most)

In [ ]:
# 先處理一下ticket
dic = datas["Ticket"].value_counts()
def count(n):
    return dic[n]
datas["Ticket"] = datas["Ticket"].apply(count)

In [ ]:
med = datas.median().drop(["Pclass"])
datas = datas.fillna(med)

In [ ]:
# 一個段落, 看一下還缺啥
na = datas.isna().sum()
# 篩選 Series[True/False list/series]
na[na > 0].sort_values(ascending=False)

In [29]:
def cabin(c):
    if pd.isna(c):
        return None
    else:
        return c[0]
datas["Cabin"] = datas["Cabin"].apply(cabin)

In [40]:
def name(n):
    mid = n.split(",")[-1].split(".")[0]
    mid = mid.strip()
    return mid
middle = datas["Name"].apply(name)
counts = middle.value_counts()
reserved = counts[:4].index
def name2(mid):
    if mid in reserved:
        return mid
    else:
        return None
datas["Name"] = middle.apply(name2)

In [41]:
datas

      Pclass    Name     Sex   Age  ...  Ticket      Fare  Cabin  Embarked
0          3      Mr    male  22.0  ...       1    7.2500   None         S
1          1     Mrs  female  38.0  ...       2   71.2833      C         C
2          3    Miss  female  26.0  ...       1    7.9250   None         S
3          1     Mrs  female  35.0  ...       2   53.1000      C         S
4          3      Mr    male  35.0  ...       1    8.0500   None         S
...      ...     ...     ...   ...  ...     ...       ...    ...       ...
1304       3      Mr    male  28.0  ...       1    8.0500   None         S
1305       1    None  female  39.0  ...       3  108.9000      C         C
1306       3      Mr    male  38.5  ...       1    7.2500   None         S
1307       3      Mr    male  28.0  ...       1    8.0500   None         S
1308       3  Master    male  28.0  ...       3   22.3583   None         C

[1309 rows x 10 columns]